.body-content-login {
    margin-top: -7px;
    background-color: #ee4d2d;
    margin-left: -8px;
}

.container-login {
    margin-top: 120px;
    height: 600px;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://down-vn.img.susercontent.com/file/sg-11134004-7qveo-lh39mo9fcde3fd);
    display: flex;
    justify-content: flex-end;
}
.login-header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    display: flex;
    flex-direction: column;
    background: white;
}

.login-header > .navbar {
    margin: auto;
    border-radius: 2px;
    width: 1200px;
    color: #ee4d2d;
    font-size: 1.25rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.shopee-svg-icon {
    height: 50px;
    fill: #ee4d2d;
    width: 11.875rem;
}

.login-text {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    height: 50px;
    margin-top: 13px;
}

.login {
    width: 400px;
    height: 482px;
    background-color: white;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

.login > div {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    min-width: 42px;
}

.border-1px {
    border: 1px solid rgba(0,0,0,.14);
} 

.login-input {
    width: 340px;
    padding: .75rem;
    border: 0;
    flex: 1;
    padding: .75rem;
    outline: none;
    background-color: white;
}

.button-login {
    width: 340px;
    background-color: #ed6c52;
    color: white;
    height: 42px;
    border: 0px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
}

.forgot-password > a {
    color: rgb(56, 56, 244);
    font-size: 0.7rem;
}

.login-or {
    display: flex;
    align-items: center;
}

.login-or-1 {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}

.login-or-text {
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase; 
    font-size: .75rem;
}

.login-fb-gg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-fb-gg > button {
    flex: 1;
    margin: 5px;
    padding-right: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
    background-color: #fff;
    color: rgba(0,0,0,.87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: .875rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-fb-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png);
    background-size: 325% 287.5%;
    background-position: 5.555555555555555% 62.666666666666664%;
}

.login-gg-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png);
    background-size: 722.2222222222222% 638.8888888888889%;
    background-position: 83.92857142857143% 5.154639175257732%;
}

.color-ee4d2d {
    color: #ee4d2d;
}
