@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  width: 100%;
  height: 100%;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  color: white;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  width: 1200px;
  overflow: hidden;
}


.navbar {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: .9rem;
  justify-content: space-between;
}

.navbar_left {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.navbar_left_text {
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  padding-right: 5px;
  margin-right: 10px;

}

.icon_min {
  width: 16px;
  height: 16px;
  padding-right: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.header-navbar-background {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/cab134ca96b0829b591cfaff892ae62c.png);
}

.header-navbar-facebook-png {
  background-size: 487.5% 293.75%;
  background-position: 8.064516129032258% 16.129032258064516%;
}

.header-navbar-instagram-png {
  background-size: 487.5% 293.75%;
  background-position: 58.064516129032256% 16.129032258064516%;
}

.navbar_right {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.navbar_right_text {
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.navbar_right_text>.icon_min {
  padding-right: 5px;
  margin-right: 0px;
  margin-left: 0px;
}


.header-with-search-wrapper {
  display: flex;
  height: 5.3125rem;
  justify-content: space-between;
  padding: 1rem 0 .625rem;
}

.icon-shopee-logo {
  fill: #fff;
  width: 162px;
  height: 50px;
}

.header-with-search {
  width: 840px;
}

.shopee-searchbar {
  --focus-indicator-spacing: 3px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 2.5rem;
  box-sizing: border-box;
  padding: .1875rem;
  border-radius: 2px;
  background: #fff;
}

.shopee-searchbar-form {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding: 0 .625rem;
  position: relative;
}

.shopee-searchbar-input {
  background-color: #fff;
  border-color: #fff;
  display: flex;
  flex: 1;
  align-items: stretch;
  outline: none;
  line-height: normal;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.btn-solid-primary {
  color: #fff;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  min-width: 60px;
  background: #ee4d2d;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 2px;
}

.search_Suggestions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  height: 24px;
  overflow-y: clip;
}

.search_Suggestions_text {
  height: 24px;
  font-size: .75rem;
  white-space: nowrap;
  margin-right: 8px;
}

.header-with-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  padding-bottom: 10px;
  margin: 0 10px;
}

.icon-shopping-cart {
  width: 30px;
  height: 30px;
  color: #fff;
  stroke: #fff;
  fill: #fff;
}

.body-content {
  margin-top: 130px;
  margin-left: -10px;
}

.full-home-banners {
  height: 235px;
  display: flex;
  justify-content: space-between;
}

.full-home-banners-main-banner {
  height: 235px;
  width: 796px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.banner-img {
  display: block;
  height: 235px;
  border-radius: 3px;
}

.full-home-banners-main-banner-indicators {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.banner-img-hidden {
  display: none;
}

.full-banner-img-badge {
  position: absolute;
  bottom: 0;
}

.banner-img-badge {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0.125rem;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  border: 1px solid hsla(0, 0%, 53.7%, .4);
  background-color: hsla(0, 0%, 100%, .4);
}

.banner-img-badge-active {
  opacity: 1;
  background-color: #ee4d2d;
  border-color: #ee4d2d;
}

.full-home-banners-main-banner-indicators-left {
  position: absolute;
  top: 40%;
  left: 0;
  height: 20%;
  width: 2rem;
  background-color: rgba(100, 100, 100, 0.4);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.full-home-banners-main-banner-indicators-right {
  position: absolute;
  top: 40%;
  right: 0;
  height: 20%;
  width: 2rem;
  background-color: rgba(100, 100, 100, 0.4);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.full-home-banners-right-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 400px;
}

.full-home-banners-right-wrapper>img {
  display: block;
  height: 115px;
  margin-left: auto;
  border-radius: 3px;
}

.full-banners_tags {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: black;
  margin: 10px auto 0;
  overflow: hidden;
  height: 108px;
}

.banner_tag {
  width: 105px;
  display: flex;
  flex-direction: column;
}

.banner_tag>div {
  text-align: center;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: .8125rem;
  line-height: .875rem;
  overflow: hidden;
}

.banner_tag>div>img {
  width: 45px;
  height: 45px;
  margin: 18px auto 8px;
}

.full-contents {
  background-color: rgb(147, 147, 147, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.content {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.flash-sale {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgb(238, 78, 46);
  color: white;
}

.flash-sale-content {
  display: grid;
  margin-top: -5px;
  padding-top: 20px;
  margin-left: 17px;
  margin-right: 17px;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  padding-bottom: 0.935rem;
}

.content-nav {
  display: flex;
  font-size: 1.25rem;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content-nav>div {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.content-nav-text-1 {
  border-right: 1px solid #d0011b;
  padding-right: 10px;
}

.content-nav-text-2 {
  margin-left: 15px;
}

.color-d0011b {
  color: #d0011b;
}

.flash-sale-content-full-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 230px;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flash-sale-content-product {
  height: 230px;
  width: 32.33%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 5px;
}

.flash-sale-content-product>img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px 5px 0 0;
}

.flash-sale-content-product-text {
  font-size: 1.125rem;
  color: rgb(238, 78, 46);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.full-categorys {
  display: flex;
  color: black;
  font-size: 0.875rem;
  text-align: center;
  height: 315px;
  overflow: hidden;
}

.double-category {
  width: 10%;
}

.category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 155px;
  border-top: 1px solid rgb(65, 56, 56, 0.2);
  border-right: 1px solid rgb(65, 56, 56, 0.2);
  overflow: hidden;
}

.category>div {
  margin-left: 7.5px;
  margin-right: 7.5px;
  text-align: center;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.category>img {
  max-width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.color-ee4d2d {
  color: #ee4d2d;
}

.content-full-products {
  display: flex;
  flex-wrap: wrap;
  width: 100% -20px;
  height: 250px;
  overflow: hidden;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.content-product {
  height: 250px;
  width: 16%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 0px;
}

.content-product :hover {
  border: 1px solid #ffffff;
}

.content-product>a>img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 3px;
}

.content-product-text {
  font-size: 1.125rem;
  color: rgb(238, 78, 46);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.selling_well {
  width: 150px;
  height: 16px;
  border-radius: 8px;
  background-color: #ffbda6;
  font-size: 0.75rem;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content-full-products-top-search {
  display: flex;
  flex-wrap: wrap;
  width: 100% -20px;
  height: 250px;
  overflow: hidden;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.content-product-top-search {
  height: 250px;
  width: 16%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.content-product-top-search>img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 3px;
}

.content-product-top-search-text {
  font-size: 1.125rem;
  color: rgb(238, 78, 46);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}

.content-product-top-search-sold-per-month {
  background-color: rgb(65, 56, 56, 0.5);
  color: #fff;
  height: 20px;
  font-size: 1rem;
  margin-top: -20px;
  text-align: center;
}

.font-size-1rem {
  font-size: 1rem;
}

.content-shopee-mall {
  display: grid;
  grid-template-columns: 33% 67%;
  margin: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(65, 56, 56, 0.2);
}

.content-shopee-mall-right {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 0.75rem;
  text-align: center;
  overflow: hidden;

}

.content-shopee-mall-right-category {
  display: flex;
  flex-direction: column;
}

.content-shopee-mall-right-category>div {
  margin-top: -33px;
  font-size: 1.125rem;
  color: #d0011b;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.title-suggested-products {
  font-size: 1.25rem;
  color: #ee4d2d;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 5px solid #ee4d2d;
  text-align: center;
  position: sticky;
  top: 120px;
  z-index: 1;
}

.suggested-products {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.suggested-products>a {
  width: 16%;
  margin-bottom: 10px;
}

.product {
  padding: .3125rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 0px;
  overflow: hidden;
}

.product:hover {
  border: 1px solid #ee4d2d;
}

.product>div {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ffffff;
}

.product_img_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}


.product_name {
  color: black;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 5px;
  height: 28px;
}

.product_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-price {
  font-size: 1rem;
  color: #ee4d2d;
}

.product-sold {
  font-size: .75rem;
  color: rgba(0, 0, 0, .54);
}

.footer {
  border-top: 5px solid #ee4d2d;
  background-color: #fff;
  padding-top: 20px;
  color: black;
}

@media screen and (max-width: 1000px) {
  header {
    height: 90px;
  }

  .body-content {
    margin-top: 100px;
  }

  .navbar {
    display: none;
  }

  .container {
    width: 750px;
  }

  .full-home-banners-right-wrapper {
    display: none;
  }

  .flash-sale-content {
    grid-template-columns: 100%;
  }

  .flash-sale-content-product {
    width: 24%;
    height: 220px;
  }

  .flash-sale-content-full-product {
    height: 220px;
  }

  .double-category {
    width: 20%;
  }

  .content-product {
    width: 19.5%;
  }

  .content-full-products {
    height: 205px;
  }

  .selling_well {
    width: 120px;
  }

  .content-product-top-search {
    width: 24.5%;
  }

  .content-nav-text-2 {
    display: none;
  }

  .content-nav-text-1 {
    border-right: 1px solid #ffffff;
  }

  .content-shopee-mall-right {
    grid-template-columns: 50% 50%;
    height: 435px;
  }

  .content-shopee-mall {
    grid-template-columns: 50% 50%;
    height: 435px;
  }

  .suggested-products>a {
    width: 24.5%;
    margin-bottom: 7.5px;
  }

  .title-suggested-products {
    top: 90px;
  }

  .header-with-search {
    width: 450px;
  }

  .header-with-cart {
    margin-left: 0px;
    margin-right: 30px;
  }
}




.body-content-products {
  margin-top: 140px;
  background-color: hsla(0, 0%, 100%, .4);

}

.products-category {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-align: left;
}

.product-briefing {
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  margin-top: 1.25rem;
}

.product-briefing-img {
  width: 450px;
  padding: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.product-briefing-img-list-small {
  margin: 5px -5px;
  position: relative;
}

.product-briefing-img-small {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

.border_1px_ee4d2d {
  border: 1px solid #ee4d2d;
}